@page
@model Tarot.Pages.Admin.Test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meaning</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meaning.Meaning1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meaning.Meaning1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meaning.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meaning.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meaning?.MeaningId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
