@page
@model Tarot.Pages.Admin.UserManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .custom-title {
        font-size: 24px;
        color: #ffe50e;
        text-align: center;
    }

    .custom-button {
        color: #ffe50e;
        background-color: #5a1473;
        padding: 10px;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
    }

    body {
        background-color: #6b1787;
        color: #ffe50e;
    }

    .table-container {
        display: flex;
        justify-content: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        color: #ffe50e !important;
        border-radius: 30px;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #fff;
        }

        .table tr {
            background-color: #6b1787;
        }

            .table tr:nth-child(odd) {
                background-color: #5a1473;
            }
</style>

<h1 class="custom-title">Danh sách người dùng</h1>
<div class="table-container mx-auto" style="max-width: 90%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.UserId" style="color: #ffe50e; font-weight: bold;">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.UserId" style="color: #75abcd; font-weight: bold;">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.UserId" style="color: #f7665e; font-weight: bold;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center my-4">
    <a asp-page="Create" class="custom-button">Thêm người dùng</a>
</div>
