@page "{id:int}"
@model Tarot.Pages.ReaderDetailModel
@{
}

<form method="post">
    @if (TempData["Message"] != null)
    {
        var isSuccess = TempData["Message"].ToString().Contains("Đã đặt thành công");
        <div class="alert @((isSuccess) ? "alert-success" : "alert-danger")">
            @TempData["Message"]
        </div>
    }
    <div class="container d-flex justify-content-center" style="min-height: 100vh; background-color: #3e065f;">
        <div class="d-flex flex-wrap">
            <div class="img-container my-5">
                <img src="~/images/reader-avt.png" style="max-width: 100%;" />
            </div>
            <div class="infor-container my-5" style="color: #fcb831; margin-left: 20px; min-width: 200px;">
                <h2>Lịch làm việc</h2>
                <div class="time-container">
                    <div class="custom-input">
                        <input type="text" value="@Model.user.UserId" asp-for="@Model.ReaderId" hidden/>
                        <input type="text" value="@Model.user.Reader.Price" asp-for="@Model.Price" hidden />
                        @for (int i = 0; i < Model.workingHour.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="SelectedSlot" value="@Model.workingHour[i].HourId" class="form-check-input" id="slot1" checked>
                                <label class="form-check-label" for="slot1">Slot @(i + 1): @Model.workingHour[i].StartTime - @Model.workingHour[i].EndTime</label>
                            </div>
                        }
                    </div>
                </div>
                <h4 class="my-3">Giá tiền: @Model.user.Reader.Price vnd</h4>
                <div class="qr-container text-center my-3">
                    <img style="max-width:35%"  src="https://www.scandit.com/cdn-cgi/image/width=300,height=300,fit=contain,quality=80,gravity=auto,sharpen=1,metadata=none,format=auto,onerror=redirect/wp-content/uploads/2019/08/Symbology-QR-code.svg" />
                </div>
                <button type="submit" class="my-4 btn btn-lg fw-bold" style="background-color: #8e05c2; border-radius: 30px; color: #f4de11">Đặt lịch</button>
            </div>
        </div>
    </div>
</form>

<style>
    .img-container img {
        max-width: 100%;
    }

    .infor-container {
        display: flex;
        flex-direction: column;
        flex: 1; /* Allow it to grow to take available space */
        max-width: 50%; /* Limit the maximum width */
    }

    .time-container {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
    }

    .time-slot {
        background-color: #d9d9d9;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }

    h2 {
        margin-bottom: 10px;
    }

</style>
