@page
@model Tarot.Pages.Admin.CardImageManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardImage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardImage.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardImage.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardImage.Card)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardImage.Card.CardId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardImage.Deck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardImage.Deck.DeckId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CardImage?.ImageId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
