@page
@model Tarot.Pages.Admin.CardImageManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .custom-title {
        font-size: 24px;
        color: #ffe50e;
        text-align: center;
    }

    .custom-button {
        color: #ffe50e;
        background-color: #5a1473;
        padding: 10px;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
    }

    body {
        background-color: #6b1787;
        color: #ffe50e;
    }

    .table-container {
        display: flex;
        justify-content: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        color: #ffe50e !important;
        border-radius: 30px;
    }

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #fff;
    }

    .table tr {
        background-color: #6b1787;
    }

    .table tr:nth-child(odd) {
        background-color: #5a1473;
    }
</style>

<h1 class="custom-title">Card Image Management</h1>
<div class="text-center my-4">
    <a asp-page="Create" class="custom-button">Create New</a>
</div>

<div class="table-container mx-auto" style="max-width: 90%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardImage[0].ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardImage[0].Card)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardImage[0].Deck)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CardImage)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Card.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deck.Type)
                    </td>
                    <td style="text-align: right">
                        <a asp-page="./Edit" asp-route-id="@item.ImageId" style="color: #ffe50e; font-weight: bold;">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ImageId" style="color: #f7665e; font-weight: bold;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>